body{
    background-color: rgb(180, 210, 200);
    margin: 0px;
    padding: 0px;
}
.area{
    position: relative;
    width: 800px;
    height: 600px;
    background-color: rgb(180, 210, 200);
    background-image: url(./資產\ 1.svg);
    background-repeat: no-repeat;
    margin-left: 350px;
    .box{
       
        display: flex;
        background-color: white;
        width: 200px;
        height: 90px;
        border-radius: 15px;
        

    }
    
  
}